<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Poppins&display=swap" rel="stylesheet">
    <title>GlamQuest</title>
</head>
<body>
    <div class="nav-bar">
        <nav>
            <a href="/profile">profile</a>
        </nav>
        <nav>
            <img src="images/brushes.png" alt="brushes" width="300px" height="300px"/>
        </nav>
        <nav>
            <a href="/login">login</a>
        </nav>
    </div>

    <div class="header-bar">
        <h1>GlamQuest</h1>
        <h6>A search engine for the make up lovers!</h6>
        <p>
            We created this website so that you can enjoy the makeup you love
            at the cost you love. Our website allows you to search for your
            favorite products and we will show you where the best place to
            get your makeup at the best price!
        </p>
    </div>

    <div class="nav-bar">
        <nav>
            <img src="images/concealer.png" alt="concealer" width="300px" height="300px"/>
        </nav>
        <nav>
            <a href="<%= isAuthenticated ? '/search' : '/login' %>">Search</a>
        </nav>
        <nav>
            <img src="images/powder.png" alt="powder" width="300px" height="300px"/>
        </nav>
        
    </div>
</body>
</html>